/*
  START
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: roboto-reg;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-med;
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(/fonts/Roboto-bold.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(/fonts/Roboto-Thin.ttf);
}

/* END - Custom CSS Reset */

/* START - Shared styles */

.container {
    height: 100vh;
    row-gap: 15px;
    display: grid;
    grid-template-columns: minmax(300px, .2fr) 1fr;
    grid-template-rows: minmax(150px, .25fr) 1fr;
    grid-template-areas:
    'sidebar header'
    'sidebar main';
}

.side-icon {
    width: 30px;
    height: auto;
}

/* END - Shared styles */

/* START - Header styling */

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-area: header;
    box-shadow: 0px 5px 5px rgb(201, 201, 201);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.searchbar {
    width: 40em;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(230, 230, 230);
}

.user-container {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) minmax(50px, .1fr) minmax(100px, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    padding-left: 200px;
    padding-top: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
}

.username {
    font-family: roboto-med;
    font-size: 20px;
}

.user-container .side-icon {
    justify-self: right;
    width: 30px;
    height: 30px;
}

.welcome-container {
    display: grid;
    grid-template-columns: minmax(100px, .2fr) minmax(200px, 1fr);
    grid-template-rows: minmax(50px, .5fr) minmax(70px, 75fr);
    margin-left: 25px;
}

.welcome-msg-1 {
    align-content: end;
    font-family: roboto-med;
    font-size: 15px;
    padding-right:300px;
    padding-bottom: 5px;
}

.welcome-msg-2 {
    font-size: 30px;
    font-family: roboto-bold;
    grid-column: 2 / 3;
    grid-row: 2 / 3;  
}

.welcome-container .side-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: block;
    height: 100px;
    width: auto;
    justify-self: right;
    padding-right: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: minmax(100px, .25fr) minmax(100px, .25fr) minmax(100px, .25fr);
    justify-content: center;
    padding-top: 30px;
    padding-left: 200px;
    gap: 20px;
}

.header-btn {
    width: 125px;
    height: 50px;
    border-radius: 30px;
    background-color: #34d399;
    border: none;
    font-family: roboto-med;
}
.header-btn:hover {
    cursor: pointer;
}

/* END - Header styling */

/* START - Main styling */

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(250px, .75fr);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column: 1 / 3;
    padding: 20px;
}

.project-title {
    grid-column: 1 / 3;
}

.card {
    width: 500px;
    height: 225px;
    border: 1px solid black;
}

.card-icon {
    width: 30px;
    height: auto;
}

.sub-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, .5fr));
    grid-column: 3 / 4;
    padding: 20px;
}

.main-title {
    grid-column: 1 / 2;
}

.card-small {
    width: 400px;
    height: 325px;
    border: 1px solid black;
}

/* END - Main styling */

/* START - Sidebar styling */

.sidebar {
    display: grid;
    grid-template-rows: minmax(100px, .20fr) minmax(450px, .5fr) minmax(200px, .5fr) 1fr;
    grid-area: sidebar;
    gap: 20px;
    padding-left: 20px;
    background-color: #d1fae5;
    font-family: roboto-med;
}

.side-content.dashboard {
    font-family: roboto-bold;
}

.side-section-1 > .side-content >.side-icon {
    width: 60px;
    height: 60px;
}

.side-section-1 > .side-content > .side-link {
    font-size: 30px;
}

.side-link {
    font-size: 25px;
}

.side-content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.side-content > .side-icon {
    width: 40px;
    height: 40px;
}

.side-section-1,
.side-section-2,
.side-section-3 {
    display: grid;
}

/* END - Sidebar styling */
